---
export interface Props {
  title: string;
  description?: string;
  image?: string;
  article?: boolean;
}

const { 
  title, 
  description = "Anton Meier Ebsen Jørgensen – Økonomistuderende (cand.polit.)", 
  image = "/assets/img/billede-af-mig.jpg", 
  article = false 
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site || "https://antonebsen.dk"); // Fallback site
const socialImageURL = new URL(image, Astro.url);
const siteTitle = "Anton Meier Ebsen Jørgensen";
const pageTitle = title.includes(siteTitle) ? title : `${title} | ${siteTitle}`;
---

<!-- Global Metadata -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{pageTitle}</title>
<meta name="title" content={pageTitle} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={article ? 'article' : 'website'} />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={pageTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={socialImageURL} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={pageTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialImageURL} />
