---
import Navbar from '@components/Navbar.astro';
import Footer from '@components/Footer.astro';
import SEO from '@components/SEO.astro';
import '@styles/styles.css';
import '@styles/themes.css';

interface Props {
	title: string;
	description?: string;
	image?: string;
  article?: boolean;
	bodyClass?: string;
}

const { title, description, image, article, bodyClass = "" } = Astro.props;
---

<!DOCTYPE html>
<html lang="da">
<head>
  <SEO title={title} description={description} image={image} article={article} />
  <meta name="design-version" content="dark-gold-v1" />
  <!-- <title>{title}</title> -->

  <!-- Fonts & Icons -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  
  <!-- Scripts -->
  <script src="/assets/js/search.js" defer></script>
  <script src="/assets/js/themes.js" defer></script>

  <slot name="head" />
</head>
<body class={bodyClass}>
  <Navbar />

  <slot />

  <Footer />
</body>
</html>
